/* Import fonts from Google Fonts: https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+sans&family=Varela&display=swap');

/* General */
html{
    scroll-behavior: smooth;
    font-size: 62,5%;
}

body{
    font-family: "Varela", sans-serif;
    color: #262730;
    font-size: 1.6rem;
}

#places {
    min-height: 100vh;
}
#places>.row {
    border: solid .3rem #cae9ff;
}
/* Header */
.logo{
    height: 4rem;
    width: 7rem;
    border: solid .3rem #cae9ff;
    border-radius: 50%;    
}

.navbar-toggler{
    background-color: #fecf3e;
    color: #262730;
}

.nav-link{
    color: #262730;
}
.nav-link:hover{
    color:#262730;
    font-weight: 700;
}
.navbar-brand:hover, .navbar-toggler:hover{
    transform: scale(1.1);
}

#map{
    min-height : 370px; 
    height: 70vh;
    width : 100%;
}

#place-info{ 
    max-height: 70vh;
}

#place-txt{
    background-color:  #cae9ff;
    max-height: 100%;
    overflow: auto;
}
